        <script src="./js/displayOutput.js"></script>
        <script src="./js/firstFit.js"></script>
        <script src="./js/formHandlers.js"></script>              
        <script src="./js/index.js"></script>    
    </body>
</html>