        <script src="./js/stopTransition.js"></script>
        <script src="./js/preventTabbing.js"></script>
        <script src="./js/firstFit.js"></script>
        <script src="./js/bestFit.js"></script>
        <script src="./js/displayOutput.js"></script>
        <script src="./js/drawMemory.js"></script>
        <script src="./js/deallocate.js"></script>
        <script src="./js/formHandlers.js"></script>              
        <script src="./js/index.js"></script>    
    </body>
</html>