<%- include partials/header.ejs %> 
    
    <h1>Memory description</h1>
    <form id="main_form">
        <input type="number" id="memory_size" placeholder="Memory size" autofocus>
        <input type="number" id="holes_number" placeholder="Holes number" autofocus>
        <button type="submit">next</button>
    </form>
    <p></p>
    <div class="add_holes">
        <h1>Add holes</h1>
        <h2 id="holes_header">Hole<span id="hole_num">1</span></h2>
        <form id="add_holes">
            <input type="number" id="hole_base" placeholder="The hole base" autofocus>
            <input type="number" id="hole_size" placeholder="The hole size" autofocus>
            <button type="submit" id="holes_submit">next</button>
        </form>
    </div>
<%- include partials/footer.ejs %>