<%- include partials/header.ejs %> 
    
    <h1>Memory description</h1>
    <form action="">
        <input type="number" placeholder="Memory size" autofocus>
        <input type="number" placeholder="Holes number" autofocus>
        <button type="submit">next</button>
    </form>

<%- include partials/footer.ejs %>