<%- include partials/header.ejs %> 
    <div class="back-button-disabled" id="back-button">
        
    </div>
    <div class="forms">
        <div class="memory">
            <h1 class="memory header">Memory description</h1>
            <form class="memory form" id="main_form">
                <input type="number" id="memory_size" placeholder="Memory size" autofocus>
                <input type="number" id="holes_number" placeholder="Holes number">
                <button type="submit" id="memory_submit" disabled>Next</button>
            </form>
        </div>
        <div class="holes">
            <h1 class="holes header">Add holes</h1>
            
            <form class="holes__form" id="add_holes">
                <h2 class="holes subheader"id="holes">Hole <span id="hole_num">0</span></h2>
                <input type="number" id="hole_base" placeholder="The hole base" autofocus>
                <input type="number" id="hole_size" placeholder="The hole size">
                <button type="submit" id="holes_submit" disabled>Next</button>
            </form>
        </div>
        <div class="processes_num">
            <h1 class="processes_num header">Enter the number of processes</h1>
            <form id="processes_num">
                <input type="number" id="processes_number" placeholder="Processes number" autofocus>
                <button type="submit" id="processes_num_submit" disabled>Next</button>
            </form>
        </div>
        <div class="processes">
            <form class="processes__form" id="processes">
                <h1 class="processes header">Process <span id="process_cnt">0</span></h1>
                <div class="segments_number">
                    <h2 class="processes subheader special-header">Segments Number</h2>
                    <input type="number" id="segments_number" placeholder="Segments number" autofocus>
                    <button type="button" id="segments_number_submit" disabled>Next</button>
                </div>
                <div class="segments_info">
                    <h1 class="processes subheader special-header">Segment <span id="segmenet_cnt">0</span></h1>
                    <input type="text" id="segment_name" placeholder="Segment name" autofocus>
                    <input type="number" id="segment_size" placeholder="Segment size">
                    <button type="submit" id="segment_submit" disabled>Next</button>
                </div>
            </form>
        </div>
        <div class="select_algo">
            <h1 class="select_algo header">Select the algorithm</h1>
            <form id="algo_select">
                <select id="algorithm">
                    <option value="1">First Fit Algorithm</option>
                    <option value="2">Best Fit Algorithm</option>
                    <option value="3">Worst Fit Algorithm</option>
                  </select>
                <button type="submit" id="algorithm_submit">Draw</button>
            </form>
        </div>
        <div class="result">
        </div>
    </div>
<%- include partials/footer.ejs %>