/* global rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

/* add holes */
.forms {
  position: relative;
}

.stop-transition {
  transition: none !important;
}

.memory {
  transition: 0.3s ease-in-out;
  width: 100vw;
}

.memory form {
  width: 70%;
  margin: 10px auto;
}

.holes {
  position: absolute;
  width: 100vw;
  top: 10px;
  left: 100vw;
  transition: 0.3s ease-in-out;
}

.holes form {
  width: 70%;
  margin: 0 auto;
}

.processes_num {
  position: absolute;
  width: 100vw;
  top: 10px;
  left: 100vw;
  transition: 0.3s ease-in-out;
}

.processes_num form {
  width: 70%;
  margin: 0 auto;
}

.processes {
  position: absolute;
  width: 100vw;
  top: 10px;
  left: 100vw;
  transition: 0.3s;
}

.processes form {
  width: 70%;
  margin: 0 auto;
}

.select_algo {
  position: absolute;
  width: 100vw;
  top: 10px;
  left: 100vw;
  transition: 0.3s;
}

.select_algo form {
  width: 70%;
  margin: 0 auto;
}

.result {
  position: absolute;
  width: 100vw;
  top: 10px;
  left: 100vw;
  transition: 0.3s;
}

.result form {
  width: 70%;
  margin: 0 auto;
}

.segments_info {
  display: none;
}

.header, .subheader {
  width: 100%;
  text-align: center;
  position: static;
}

input {
  display: block;
  margin: 10px auto;
  padding: 0.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  display: block;
  width: 85px;
  height: 25px;
  margin: 10px auto;
  color: black;
}

.memory-output {
  width: 70%;
  max-width: 400px;
  margin: 0 auto;
}

.memory-block {
  border: 2px solid black;
  font-size: 1rem;
  padding: 0.5em;
}
