/* global rules */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

@import 'fonts';
@import 'colors';

body{
    overflow: hidden;
    background-color: #01110c;
}

.back-button-disabled{
    background-color: #ccc; 
    cursor: default;
    position: fixed;
    background-image: url('../icons/back-button.svg');
    top: 4vh;
    left: 2vw;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 44% 50%;

}
.back-button{
    position: fixed;
    background-image: url('../icons/back-button.svg');
    top: 4vh;
    left: 2vw;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 44% 50%;
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
    &:hover{
        background-color:rgba(150, 150, 150);
    }
}

.home-button-disabled{
    opacity: 0.5; 
    cursor: default;
    position: fixed;
    background-image: url('../icons/home.png');
    top: 4vh;
    right: 2vw;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;

}
.home-button{
    position: fixed;
    background-image: url('../icons/home.png');
    top: 4vh;
    right: 2vw;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    font-weight: bold;
    &:hover{
        opacity: 0.5;
    }
}

.forms{
    position: relative;
    top: 70px;
}

.stop-transition{
    transition: none !important;
}

.memory{
    transition: 0.3s ease-in-out;
    width: 100vw;
}
.holes{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s ease-in-out;
}

.processes_num{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s ease-in-out;
}

.processes{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s;
}

.select_algo{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s;
}

.result{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.segments_info{
    display: none;
}

.header, .subheader{
    width: 100%;
    text-align: center;
    position: static;
    font-family: 'Ubuntu', sans-serif;
}

input{
    display: block;
    margin: 10px auto;
    padding: 0.5em 1.2em;
    border-radius: 20px;
    outline: none;
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    display: block;
    width: 95px;
    height: 30px;
    margin: 10px auto;
    // background-color: #6209e896;
    // background-color:$accent-color;
    transition: 0.3s ease-in-out;
    color: white;
    border-radius: 25px;
    border: none ;
    cursor: pointer;
    &:disabled{
        cursor: default;
        color: black;
        
    }
}

form {
    position: relative;
    max-width: 70vw;
    margin: 10px auto;
    padding: 25px 0;
}

select {
    display: block;
    width: 165px;
    height: 30px;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 1.6em;
    padding: 0 5px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    background-color: #388f3f;
}

select:hover{
    background-color: #1d7a66;
}

.special-header{
    margin-top: 25px;
}

.memory-output{
    flex-basis: 65%;
    margin: 0 auto;
    max-width: 480px;
    padding: 0 20px;
    order: 1;
}

.memory-output h1{
    text-align: center;
    margin: 10px;
}

.memory-block{
    border: 2px solid black;
    font-size: 1rem;
    padding: 0.5em;
    position: relative;
}

.block-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
}

.memory-size-top{
    position: absolute;
    top: -20px;
    left: -50px;
    transform: translateY(calc(50%));
}

.memory-size-bottom{
    position: absolute;
    bottom: 0;
    left: -50px;
    transform: translateY(calc(50%));
}

.process{
    background-color: #0017ffad;
}

.hole{
    background-color: #ff10009e;
}

.old-process{
    background-color: #555;
}

.memory-warning{
    flex-basis: 40%;
    max-width: 375px;
    padding: 1em;
    background-color: #edff005e;
    border-radius: 20px;
    margin: 0 auto;
    order: 2;
}

.warning-p{
    line-height: 1.8;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
}