/* global rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
    font-family: 'Ubuntu', sans-serif;
}

@import 'fonts';

body{
    overflow: hidden;
}

/* add holes */
.back-button-disabled{
    background-color: #ccc; 
    cursor: default;
    position: fixed;
    background-image: url('../icons/icons8-back-24.png');
    top: 4vh;
    left: 2vw;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 44% 50%;
    border: 1px solid rgba(0, 0, 0, 0.6);

}
.back-button{
    position: fixed;
    background-image: url('../icons/icons8-back-24.png');
    top: 4vh;
    left: 2vw;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 44% 50%;
    border: 1px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
    background-color: #fff;
    &:hover{
        background-color:rgba(0, 0, 0, 0.4);
    }
}

.forms{
    position: relative;
    top: 70px;
}

.stop-transition{
    transition: none !important;
}

.memory{
    transition: 0.3s ease-in-out;
    width: 100vw;
    & form{
        width: 70%;
        margin: 10px auto;
    }
}
.holes{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s ease-in-out;
    & form{
        width: 70%;
        margin: 0 auto;
    }
}

.processes_num{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s ease-in-out;
    & form{
        width: 70%;
        margin: 0 auto;
    }
}

.processes{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s;
    & form{
        width: 70%;
        margin: 0 auto;
    }
}

.select_algo{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s;
    & form{
        width: 70%;
        margin: 0 auto;
    }
}

.result{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s;
    & form{
        width: 70%;
        margin: 0 auto;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.segments_info{
    display: none;
}

.header, .subheader{
    width: 100%;
    text-align: center;
    position: static;
    font-family: 'Ubuntu', sans-serif;
}

input{
    display: block;
    margin: 10px auto;
    padding: 0.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    display: block;
    width: 95px;
    height: 25px;
    margin: 10px auto;
    // background-image: linear-gradient(to right,#00bd45,#6209e8);
    background-color: #6209e8;
    color: white;
    border-radius: 10px;
    border: none ;
    cursor: pointer;
    &:disabled{
        cursor: default;
        color: #ccc;
    }
}

.memory-output{
    flex-basis: 65%;
    margin: 0 auto;
    max-width: 480px;
    padding: 0 20px;
    order: 1;
}

.memory-output h1{
    text-align: center;
    margin: 10px;
}

.memory-block{
    border: 2px solid black;
    font-size: 1rem;
    padding: 0.5em;
    position: relative;
}

.block-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
}

.memory-size-top{
    position: absolute;
    top: 0;
    left: -50px;
    transform: translateY(calc(50%));
}

.memory-size-bottom{
    position: absolute;
    bottom: 0;
    left: -50px;
    transform: translateY(calc(50%));
}

.process{
    background-color: #0017ffad;
}

.hole{
    background-color: #ff10009e;
}

.old-process{
    background-color: #eee;
}

.memory-warning{
    flex-basis: 40%;
    max-width: 375px;
    padding: 1em;
    background-color: #edff008c;
    border-radius: 20px;
    margin: 0 auto;
    order: 2;
}

.warning-p{
    line-height: 1.8;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
}