/* global rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
    font-family: sans-serif;
}

body{
    overflow: hidden;
}

/* add holes */
.forms{
    // width: 200vw;
    position: relative;
    
}

.stop-transition{
    transition: none !important;
}

.memory{
    transition: 0.3s ease-in-out;
    width: 100vw;
    & form{
        width: 70%;
        margin: 10px auto;
    }
}
.holes{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s ease-in-out;
    & form{
        width: 70%;
        margin: 0 auto;
    }
}

.processes_num{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s ease-in-out;
    & form{
        width: 70%;
        margin: 0 auto;
    }
}

.processes{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s;
    & form{
        width: 70%;
        margin: 0 auto;
    }
}

.select_algo{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s;
    & form{
        width: 70%;
        margin: 0 auto;
    }
}

.result{
    position: absolute;
    width: 100vw;
    top: 10px;
    left: 100vw;
    transition: 0.3s;
    & form{
        width: 70%;
        margin: 0 auto;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.segments_info{
    display: none;
}

.header, .subheader{
    width: 100%;
    text-align: center;
    position: static;
}

input{
    display: block;
    margin: 10px auto;
    padding: 0.5em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    display: block;
    width: 85px;
    height: 25px;
    margin: 10px auto;
    color: black;
}

.memory-output{
    flex-basis: 65%;
    margin: 0 auto;
}

.memory-output h1{
    text-align: center;
    margin: 10px;
}

.memory-block{
    border: 2px solid black;
    font-size: 1rem;
    padding: 0.5em;
    position: relative;
}

.block-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
}

.memory-size-top{
    position: absolute;
    top: -5px;
    left: -30px;
}

.memory-size-bottom{
    position: absolute;
    bottom: -10px;
    left: -50px;
}

.process{
    background-color: #0017ffad;
}

.hole{
    background-color: #ff10009e;
}

.old-process{
    background-color: #eee;
}

.memory-warning{
    flex-basis: 40%;
    padding: 1em;
    background-color: #edff008c;
    border-radius: 20px;
}

.warning-p{
    line-height: 1.8;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
}